@{
    ViewData["Title"] = "Home Page";
}



 <!-- Default box -->
      <div class="card">
        <div class="card-header bg-danger">
          <h3 class="card-title">Visión</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="bi bi-dash-lg"></i>
            </button>
            
          </div>
        </div>
        <div class="card-body">
          Estoy en el index
        </div>
        <!-- /.card-body -->
       
        <!-- /.card-footer-->
      </div>